*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imagens/pexels-phearak.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position:relative;
}

header{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    box-shadow: 0 1px rgb(0, 0, 0);
}

.titulo{
    padding-left: 20px;
    color: black;
    font-size: 2em;   
}

.cabeca{
    display: flex;
    align-items: center;
    height: 70px;
}

.sair{
    display: block;
    text-align: center;
    font-size: 0.6;
    text-decoration: none;
    width: 60px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.sair:hover{
    background-color: #adadad;
}

.visao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 2vh;
}

.visaoU{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 2vh;
}

.view{
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: #ff0000;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid black;
}

.view:hover{
    background-color: #9c0000; 
}

.serc_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: white;
    border-radius: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    
}

.pesquisa {
    display: block;
    background-color: #e7e7e7;
    text-align: left;
    padding: 10px;
    font-size: 1em;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.buscar{
    box-sizing: border-box;
    background: transparent;
    border: 0px;
}

.material-icons{
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: #ff0000;
    color: white;
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px;
}

.material-icons:hover{
    background-color: #9c0000;
}


main{
    opacity: 0.9;
    background-color: white;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 20px;
    margin: 2vh auto;
    box-shadow: 2px 2px 10px black;
}

.tabela{
    width: 100%;
    user-select: none;
    text-align: center;
    border-spacing: 4px;
}

.tabela th{
    height: 50px;
    background-color: #ff0000;
    padding: 5px;
    font-size: 1.3em;
}

.tabela td{
    height: 50px;
    padding-left: 5px;
    text-align: left;
}

.tb{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.edit{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    background-color: #00ff2a;
    padding: 5px;
    border-radius: 10px;
}

.edit:hover{
    background-color: #00d123;
}

.delete{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 10px;
}

.delete:hover{
    background-color: #9c0000;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    background-color: lightgray;
    opacity: 0.9;
}


@media (max-width:768px){
    .header{
        position:fixed;
        width:100%;
    }
    .titulo{
        font-size: 1.5rem;
    }

    .visao{
        display: flex;
        background-color: #ff0000da;
        border-radius: 0px;
        padding: 0;
        margin: 0px;
        gap:0px;
    }

    .visaoU{
        display: flex;
        background-color: #ff0000da;
        border-radius: 0px;
        padding: 0;
        margin: 0px;
        gap:40px;
    }

    .view{
        font-size: 0.8em;
        background-color: #ff0000da;
        padding: 5px;
        border-radius: 0px;
        border: 0px;
        border: 1px solid black;
        max-width: 114px;
    }

    .serc_bar{
        gap: 2px;
        border: 1px solid black;
        padding-right: 10px;
        background-color: transparent;
        border-radius: 0px;
    }
    .pesquisa{
        box-sizing: border-box;
        width: 150px;
        border-radius: 0px;
        height: 56px;
    }

    .buscar{
        height: 56px;
    }
    .material-icons{
        display: flex;
        border: none;
        margin-left: 5px ;
    }
    main{
        opacity: 1;
        border-radius: 0px;
        padding: 0;
        margin: 0px;
        width:100%;
        box-shadow: none;
    }
    .tabela{
        border-spacing: 5px;

    }
    .tabela thead{
        display: none;
    }
    .tabela tr{
        box-shadow: 0 1px 3px gray;
    }
    .tabela td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 25px;
    }

    .tabela td{
        margin:5px 0;
        font-size: 1.2em;
    }

    .edit{
        font-size: 1.5em;
    }

    .delete{
        font-size: 1.5em;
    }


}